<% @page_title = "admin | Add new book" %>
<h1 class="mrg_head">List of books</h1>

<div class="wrap">

<table id="mrg_admin_table">
	<tr>
		<th>Book title</th>
		<th>Published</th>
		<th>Subject</th>
		<th>Author</th>
		<th>Action</th>
	</tr>
<ul>
	<% @books.each do |book| %>
	<tr>
		<td><%= book.title %></td>
		<td><%= book.published %></td>
		<td><%= book.subject.name %></td>
		<td><%= book.author.name %> </td>
		<td align="center">
			<%= link_to "edit", {:action => 'edit_book' , :id => book.id }, :class => 'edit' %> / 
			<%= link_to "delete",{:action => 'delete_book', :id => book.id}, :class => 'delete' %> / 
			view</td>
	</tr>
	<% end %>
</ul>

</table>
<br /><br />

<%= link_to "Add book" , {:action => 'new_book'} , :class => 'btn' %>

</div>