<h1>Create new test/course</h1>

<div class="form form_for_course">

	<%= render(:partial => 'shared/error_message', :locals => {:object => @course}) %>
<%= form_for :course, :url => {:action => 'create'} do |f| %>
	
	<%= label_tag(:title, "Test title:") %><br />
	<%= f.text_field(:title) %>
	<br /><br />

	<% authors = Author.all.map {|author| [author.name , author.id] }  %>
	<%= label_tag(:author, "Author") %><br />
	<%= f.select(:author_id, authors) %>
	<br /><br />

	<% subjects = Subject.all.map {|subject| [subject.name , subject.id] }  %>
	<%= label_tag(:subject, "Subject:") %><br />
	<%= f.select(:subject_id, subjects) %>
	<br /><br />

	<%= f.hidden_field(:cost) %>
	<%= f.hidden_field(:level) %>

	<%= label_tag(:num_questions, "Number of Questions:") %><br />
	<%= f.text_field(:num_questions) %>
	<br /><br />

	<%= label_tag(:questions, "Paste Questions:") %><br />
	<%= f.text_area(:questions, :size => "50x10") %>
	<br /><br />

	<%= f.submit("Create test") %>

<% end %>

</div>
