<% @page_title = "Play | My revision guide" %>

<div id="timer">
	<span id="t_m">10</span>:<span id="t_s">00</span>
</div> 
<h1 class= "mrg_head score"> <span id="score">Score : 0</span></h1>

<div id="mrg_qns">
<ul id="qns-wrap">
	<% if @course.nil? || @course.questions.empty?  %>
		<span> Test not ready, return soon</span>
	<% else %>
		<%  count = 1
			correct_ans = Hash.new
			number_of_questions = 5
			correct_ans["num"] = number_of_questions
			correct_ans["cid"] = @course.id
		 %>
		<% @course.questions.sample(number_of_questions).each do |qn| %>
			<div id = '<%= "q#{count}" %>' class= "qns <%= displayFirstQuestion count  %>">
				<li>
				<span class="qns"><%= qn.question.html_safe %></span>
					<ul id="ach" class="chs">
						<% qn.choices.sample(qn.choices.length).each do |ch| %>
							<li id='<%= "#{qn.id}-#{ch.id}" %>'>
								<%= ch.choice.html_safe %>
								<% correct_ans["qn#{qn.id}"] = ch.id if ch.correct %>
							</li>
						<% end %>
					</ul>
				</li>
			</div>
			<% count += 1 %>
		<% end %>
	<% end %>
	
</ul>
</div>

<div id="mrg_play_results">

	<div class = "left">
		<div id="res-outer">
	    	<div id="res-inner" class="red"><div id="sss">0</div></div>
	    </div> 
		
	    <div id="mrg-out"></div>
	    <div id="buttons"> 
		<%= link_to "Play again", "" , :class => 'btn' %>
		<%= link_to "main menu", {:controller=>"home", :action => "index"}, :class => 'btn' %>
	</div>
	</div>

	<div class = "right">
		<div class="earned-points"><span id = "earned-points">17</span>points</div>
	</div>
		<div class= "clear-fix"></div>
	<br />
</div>


<div id = "xa">
	<textarea id="xas">
		<%= correct_ans.to_json %>
	</textarea>
</div>

<script type="text/javascript">
	<%= render :partial => "scripts.js" %>
</script>

