<!-- Ranking section -->
<div class="section-header">
	<div class="mrg-section-header">
    	<h2>Ranking</h2>
    </div>
    <div class="mrg-section-link">
    	
    </div>
    <div class="clear-fix"></div>
</div>

<table class="mrg-table">
	<tr>
        <td>
            <div class="thumbs">
                <div class="mrg-thumb">
                    <div>
                        <%= image_tag('badge-thumb.jpg') %>
                        <label>Badges</label>
                        <span>badges for amazing performance</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                    <div>
                        <%= link_to image_tag('leaderboard-thumb.jpg'), "rankings" %>
                        <label><%= link_to "Leaderboard", "rankings/week" %></label>
                        <span>The best of all time</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                    <div>
                        <%= link_to image_tag('rank_today-thumb.jpg'), "rankings/today" %>
                        <label><%= link_to "Today", "rankings/today" %></label>
                        <span>On fire today</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                    <div>
                        <%= link_to(image_tag('rank_week-thumb.jpg'),"rankings/week") %>
                        <label><%= link_to("This week", "rankings/week") %></label>
                        <span>Who rocked this week</span>
                    </div>
                </div>
            </div>
        </td>
    	<td class="mrg-spanner">
            <div class="mrg-ranking"></div>
            <label>Open competiton</label>
            <span>Get rewarded for revising and toping the leaderboard</span>
        </td>
    </tr>
</table>
</div>
<!-- end Ranking section -->