<% @page_title = "Welcome to my revision guide" %>
<!-- play section -->
<div class="section-header">
<div class="mrg-section-header">
    	<h2>Play</h2>
    </div>
    <div class="mrg-section-link">
    	<a href="#">View all subjects</a>
    </div>
    <div class="clear-fix"></div>
</div>

<table class="mrg-table">
	<tr>
    	<td class="mrg-spanner">
            <div class="mrg-play"></div>
            <label>Multiple choice exercises</label>
            <span>Click on the subject to play</span>
        </td>
        
    	<td>
            <div class="thumbs">
            	
            		<% @subjects.each do |subject| %>
                    <div class="mrg-thumb">
                        <div>
                            <%= link_to image_tag(subject.image_thumb.url(:thumb)) , 
                                :controller => 'subject',
                                :action => 'quizzes', 
                                :id => subject.id %>
                            <label>
                              <%= link_to(subject.name, :action => 'quizzes', :id => subject.id) %></label>
                            <span><%= pluralize(subject.courses.length, 'Exercise') %></span>
                        </div>
                    </div>
                    <% end %>
                	
                </div>
            </div>
        </td>
    </tr>
</table>
<!-- end play section -->

<!-- library section -->
<div class="section-header">
	<div class="mrg-section-header">
    	<h2>Library</h2>
    </div>
    <div class="mrg-section-link">
    	<a href="#">View all subjects</a>
    </div>
    <div class="clear-fix"></div>
</div>

<table class="mrg-table">
	<tr>
    	<td>
       		<div class="thumbs">
            	<div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Geography</h4>
                    </div>
                    <span>12 books</span>
                </div>
                <div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Mathematics</h4>
                    </div>
                    <span>7 books</span>
                </div>
                <div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Physics</h4>
                    </div>
                    <span>16 books</span>
                </div>
                <div class="mrg-thumb">
                	<div class="lib">
                    	<h4>Commerce</h4>
                    </div>
                    <span>10 books</span>
                </div>
            </div>               
        </td>
        <td class="mrg-spanner">
        	<div class="mrg-library"></div>
            <label>Your online library</label>
            <span>Organise all your notes and books in the cloud library</span>
        </td>
    </tr>
</table>
<!-- end library section -->

<!-- Ranking section -->
<div class="section-header">
	<div class="mrg-section-header">
    	<h2>Ranking</h2>
    </div>
    <div class="mrg-section-link">
    	
    </div>
    <div class="clear-fix"></div>
</div>

<table class="mrg-table">
	<tr>
    	<td class="mrg-spanner">
            <div class="mrg-ranking"></div>
            <label>Open competiton</label>
            <span>Get rewareded for revising and toping the leaderboard</span>
        </td>
        
    	<td>
            <div class="thumbs">
            	<div class="mrg-thumb">
                	<div>
                    	<%= image_tag('badge-thumb.jpg') %>
                        <label>Badges</label>
                        <span>Earn badges for amazing performance</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                	<div>
                    	<%= image_tag('leaderboard-thumb.jpg') %>
                        <label>Leaderboard</label>
                        <span>The best of all time</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                	<div>
                    	<%= image_tag('rank_today-thumb.jpg') %>
                        <label>Today</label>
                        <span>On fire today</span>
                    </div>
                </div>
                <div class="mrg-thumb">
                	<div>
                    	<%= image_tag('rank_week-thumb.jpg') %>
                        <label>Week</label>
                        <span>Who rocked this week</span>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<!-- end Ranking section -->
