<% @page_title = @user.name %>
<h1 class="mrg_head"><%= @user.name %></h1>

<%= render :partial => 'header', :locals => {:user => @user} %>

<div class="wrap">
	<% if @user.id == current_user.id %>
		<%= render :partial => 'user_edit_form' %>
	<% end %>

	<div id="user-tbl-graph">
		<div class = "left">
			<%= render :partial => 'stats_table', :locals => {:user => @user, :stats => @stats} %>
			<h3 class="tbl-head">Performance in subjects</h3>
			<br /><br />
			<div id="pie-graph" class="graph-place"></div>
		</div>
		<div class = "right">
			<h3 class="g-head">Last <%= @data.size %> games </h3>
			<div id="graph-place" class="graph-place"></div>

			<br />
			<h3 class="g-head">Last 7 days</h3>
			<div id="graph-place2" class="graph-place"></div>
		</div>
		<div class="clear-fix"></div>
	</div>
</div>


<script type="text/javascript">

$(function(){
	$.get("https://graph.facebook.com/<%= @user.uid %>?fields=cover", function(data){
		ele = document.getElementById("user-cover-img");

		if(data["cover"] == undefined){
			ele.style.top = "35%";
			ele.style.left = "30%";
			ele.src = "/assets/cover-place.png";
		}
		else {

			if (data["cover"]["offset_y"] != undefined){
				off_y  = data["cover"]["offset_y"] * 2
				ele.style.clip = "rect("+off_y+"px,720px,1000px,0px)";
				off_y_neg = off_y * -1;
				ele.style.top = off_y_neg+"px"
			}
			ele.src = data["cover"]["source"];
		}
			
	},"json");

	$("#save-motto").click(function(){
		motto = $('#motto-field').val();
		if(motto == "" || motto == null){
			$("#motto-info-error").show()
		}else{
			$.post("/user/add_motto", {user_motto : motto}, function(data){
			});
			location.reload();
		}
		return false;
	});

	$("#save-school").click(function(){
		school = $('input[name="sch"]:checked').val();
		if(school == undefined){
			$("#info-error").show()
		}else{
			school_name = $("#"+school).val();
			$.post("/user/school", {sch_id: school, sch_name: school_name}, function(data){
			});
			location.reload();
		}
		return false;
	});

	$("#edit-btn").click(function(){
		//alert("clicked")
		$("#edit-user-info").show();
	});

	//ploting graphs data
	var marks = <%= @data %>
	var last_days = <%= raw @last_days %>
	var pie_data = <%= raw @pie_chart_data %>

	$.plot("#graph-place", [
		{data : marks, label : "Points"}
		], {
			series: {
				lines: {
					show: true
				},
				points: {
					show: true
				}
			},
			yaxis:{
				min: 0,
				max: 100
			},
			grid: {
				hoverable: true,
				clickable: true
			}
	});

	$.plot("#graph-place2", [ last_days ], {
			series: {
				bars: {
					show: true,
					barWidth: 0.6,
					align: "center"
				}
			},
			xaxis: {
				mode: "categories",
				tickLength: 0
			}
		});

	$.plot("#pie-graph", pie_data , {
			series: {
				pie: { show: true }
			},
			grid: {
				hoverable: true,
				clickable: true
			}
		});


	function showTooltip(x, y, contents) {
		$("<div id='tooltip'>" + contents + "</div>").css({
			position: "absolute",
			display: "none",
			top: y + 5,
			left: x + 5,
			border: "1px solid #fdd",
			padding: "2px",
			color: "#FFF",
			"background-color": "#009933",
			opacity: 0.80
		}).appendTo("body").fadeIn(200);
	}

	var previousPoint = null;
	$("#graph-place").bind("plothover", function (event, pos, item) {
		//alert("hover point")
		if (item) {
			if (previousPoint != item.dataIndex) {

				previousPoint = item.dataIndex;

				$("#tooltip").remove();
				var x = item.datapoint[0].toFixed(2),
				y = item.datapoint[1].toFixed(2);

				showTooltip(item.pageX, item.pageY,  "Game " + parseInt(x) + " , " + parseInt(y) + " points");
			}
		} else {
			$("#tooltip").remove();
			previousPoint = null;            
		}	
	});
});

</script>