<div id="header">
    <div class="logo">
        <div class="mrg-logo">
            <%= link_to image_tag('logo.png'), root_url %>
        </div>
        <div class="mrg-title"><h1>
            <%= link_to("My revision guide", root_url) %></h1></div>
        <div class="clear-fix"></div>
    </div>
    
    <div class="links">
        <div class="mrg-user-avatar">
           <%= link_to image_tag(user.image) , {:controller =>'user', :action => 'index', :id=>user.id} %>	
        </div>
        <div class="mrg-links">
        	<%= image_tag('patchit-logo.png') %>
            <ul>
                <li><%= link_to "my account", {:controller =>'user', :action => 'index', :id=>user.id} %></li>
                <li>
					<%= link_to("signout",signout_url) %>
                </li>
                <div class="clear-fix"></div>
            </ul>
        </div>
        <div class="clear-fix"></div>
    </div>
    
    <div class="clear-fix"></div>
    <div id="mrg-loading"><span>Loading...</span><br/><%= image_tag('preloader-w8-line-black.gif') %></div>
</div>