<h3>Invite friends</h3>
<div>
<ul>
    <% friends = user_graph.get_connections("me", "friends") %>
    <% friends.sample(20).each do |friend| %>
    	<li>
    		<span class="fb-img">
                <%= image_tag("http://graph.facebook.com/#{friend['id']}/picture?width=30&height=30") %>
    		</span>
			<span class="fb-name"><%= friend["name"][0..25]  %></span>
            <%= image_tag("invite.gif") %>

			<!-- <div class="fb-invite-tool-tip">
             	<div class="wrap">
                	<div class="fb-prof-medium">
                    	<%= image_tag("http://graph.facebook.com/#{friend['id']}/picture?width=100&height=100") %>
                    </div>
                    <div class="fb-inv">
                    	<span class="fb-tooltip-name"><%= friend["name"][0..25]  %></span>
                        <span class="desc">Revision is better with friends</span>
                        <a class="inv-btn" name="<%= friend['id'] %>">Invite friend</a>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>	 -->
    	</li>
    <% end %>
</ul>
</div>