<!DOCTYPE html>
<html>
<head>
  <title>Mrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% user = User.find_by_id(session[:user_id]) %>
	<% if user %>
		Logged is as: <%= user.name %>
	<% else %>
		<%= link_to('Login with facebook','auth/facebook') %>
	<% end %>
<%= yield %>

</body>
</html>
