<% user = User.find_by_id(2) 
   #@graph = Koala::Facebook::API.new(user.oauth_token)
    #friends = @graph.get_connections("me", "friends")
    #profile = @graph.get_object("me")
    session[:user_id] = user.id
%>
<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "My revision guide"%></title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Alef' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Marmelad' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <div id="fixed-right-side-bar">
    </div>

    <div id="mrg-main">
        <div id="mrg-page">
            <%= render :partial => "layouts/head" , :locals => {:user => user}  %>    
            <div id="mrg-content">
                 <%= yield %>
            </div>
        </div>
    </div>
</div>


</body>
</html>